<!DOCTYPE html>
<html>
<head>
  <title>RuhRoh</title>
  <%= stylesheet_link_tag    "ruh_roh/application", :media => "all" %>
  <%= javascript_include_tag "ruh_roh/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
